{% extends "layout.html" %}
{% block content %}

    <!-- Header -->
    <section class="section_header_carbon_app">
        <div class="container">
        <div class="header_carbon_app">
            <div class="box"> 
            <h1 style="font-size:55px;"><span class="text-logo"> Carbon App Calculator</span></h1>
            <p style="text-align:left;">
                Introducing our new carbon app calculator, designed to help individuals make informed decisions about their transportation choices. This app calculates the carbon emissions from various modes of transportation, including cars, buses, trains, airplanes, and cycling, taking into account different types of fuel, distance traveled, and number of passengers. With an intuitive user interface and gamification elements, this app is a valuable tool for those looking to reduce their carbon footprint and make more sustainable transportation choices.            </p>
            </p>
            <div class="container_buttons_links_header_carbon_app">
                <div class="buttons">
                    <a href="{{url_for('methodology.methodology_home')}}" class="btn btn-1" >Methodology</a>
                    <a href="#" class="btn btn-primary btn-lg mr-2", class="btn btn-1">Instructions</a>
                    <a href="{{url_for('carbon_app.new_entry')}}" class="btn btn-1">New entry</a>
                    <a href="{{url_for('carbon_app.your_data')}}" class="btn btn-1" >Your data</a>
                </div>
            </div>  
            <!-- Modal Instructions -->
            <div class="modal fade" id="carbon_app_instructions" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                <div class="modal-content">
          
                    <div class="modal-header">
                    <h5 class="modal-title", style="color:black; text-align: center;">Carbon App, instructions</h5>
                    </div>
          
                    <div class="modal-body", style="color:black">
                    <p style="text-align: left;">
                        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae ratione tempore id esse nobis molestias quasi explicabo possimus ea reprehenderit.
                    </p>
                    <ol style="text-align:left;">
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, sint.
                        </li>
                        <li>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, sint.
                        </li>
                    </ol>
                    </div>
          
                    <div class="modal-footer">
                        <a href="{{url_for('carbon_app.new_entry')}}" class="btn btn-primary btn-lg mr-2", style="background-color:#007bff;">New entry</a>
                        <button class="btn btn-secondary btn-lg mr-2", style="background-color:#6c757d;" data-dismiss="modal">Close</button>
                    </div>
          
                </div>
                </div>
            </div>
            </div>
            <div class="box">
            <img 
                src="{{url_for('static', filename='icons/car-svgrepo.png')}}"
                width="300" 
                height="380"
                alt=""/>
            </div>
        </div>
        
        </div>
    </section> 
       

{% endblock content %}
