/* Colors 
Carbon App, section 1 (header, background): #2a4359
Carbon App, section 1 (header, boxes): #6da6a6
Carbon App, section 2 (header, background): #466fa6
Carbon App, section 2 (header, boxes): #8badd9
*/

/* Utilities  */
p {
  margin: 10px 0;
  font-size: 18px;
  text-align: left;
}
h4 {
  font-size: 18px;
  text-align: left;
  font-weight: bold;
}
/* Section header */
.section_header_carbon_app {
  background-color:#EDF1D6;
}
.header_carbon_app {
  display: flex;  
  align-items: start;
  background: #EDF1D6;
}
.header_carbon_app .box {
  flex: 1;
  background: #EDF1D6;
  color: #000;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
    
}
.header_carbon_app .box:nth-of-type(1) {
  flex-grow:2;
}
.header_carbon_app .box:nth-of-type(2) {
  flex-grow:1;
}
.btn-1 {
  display: inline-block;
  padding: 9px 13px;
  font-size: 22px;
  cursor: pointer;
  text-align: right;
  text-decoration: none;
  outline: none;
  color: #EDF1D6;
  background-color: #254762;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
  margin: 10px;
  
}
  
.btn:hover {
  background-color: #254762e5;
  color: #EDF1D6;
}
  
.btn:active {
  background-color: #254762;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

@media (max-width:768px) { 
  .header_carbon_app {
    flex-direction: column;
  } 
}
