/* Colors 
Home, section 1 (head, background): #9fa7bf
Home, section 1 (head, boxes): #568c63
Home, section 2 (developers, background): #c5c8d9 
Home, section 2 (developers, boxes): #49736f
 */

/* Utilities  */
p {
  margin: 10px 0;
  font-size: 18px;
}
/* Section header_home */
.section_header_home {
  background-color:#EDF1D6;
}
.section_header_home {
  background: color #EDF1D6;;
}
.header_home {
  display: flex;  
  align-items: start;
  background: #EDF1D6;
}
.header_home .box {
  flex: 1;
  background: #EDF1D6;
  color: #000;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.header_home .box:nth-of-type(1) {
  flex-grow:2;
}
.header_home .box:nth-of-type(2) {
  flex-grow:1;
}
.btn {
  display: inline-block;
  padding: 9px 13px;
  font-size: 22px;
  cursor: pointer;
  text-align: right;
  text-decoration: none;
  outline: none;
  color: #EDF1D6;
  background-color: #254762;
  border: none;
  border-radius: 15px;
  box-shadow: 0 7px #999;
  margin: 15px;
}
  
.btn:hover {
  background-color: #254762e5;
  color: #EDF1D6;
}
  
.btn:active {
  background-color: #254762;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* Section developers */
.section_developers {
  background-color:#9DC088 ;
}
.developers {
  display: flex;  
  align-items: start;
  background: #EDF1D6;
  margin-top: 20px;
  border-radius: 15px;
}
.developers .box {
  flex: 1;
  background:  #CEE5D0;
  color: black;
  border-radius: 10px;
  margin: 20px 10px;
  padding: 15px 20px;
  text-align:center;
  align-items: center;
  justify-content: center;
}
.developers .box:nth-of-type(1) {
  flex-grow:4;
}
.developers .box:nth-of-type(2) {
  flex-grow:4;
}
.developers .box:nth-of-type(3) {
  flex-grow:4;
}

.section_container_buttons_developers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  padding: 0px 0px;
  margin: 0px 0px;
}
.btn_developers {
  padding: 10px 10px;
  margin: 10px 10px 10px 10px;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  background-color: #254762 ;
  border: 2px solid  #d6d4e0;
}
.btn_developers:hover {
  color: #fff;
  background-color: #d6d4e0;
  border: 2px solid #d6d4e0;
  text-decoration: none;
}


@media (max-width:768px) { 
  .header_home {
    flex-direction: column;
  } 
  .developers {
    flex-direction: column;
  } 
  .section_container_buttons_developers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
